extends layout

block content
  #app.container(v-cloak)
    form.form-inline
      input.form-control(type="text" id="search" placeholder="Search" v-model="searchingText")
      select.form-control(v-model="selected" @change="resetCate")
        option(v-for="item in categories", :value="item.value") {{ item.text }}
    - var col = 4

    .tv-list
      .row(v-for="i in Math.ceil(filteredList.length / #{col})")
        card.col-sm-6(
          class="col-md-#{12/col}",
          v-for="(item, index) in filteredList.slice((i - 1) * #{col}, #{col} * i)",
          :item="item",
          :key="item.aid",
          :index="index",
          :row="i",
          @on-card-add-to-favorite="addToFavorite",
          @on-card-remove-from-favorite="removeFromFavorite"
        )
      vue-infinite-loading(
        :on-infinite="getMore",
        ref="infiniteLoading",
        spinner="waveDots"
      )
        span(slot="no-more") No more
      button.btn.btn-default.btn-block(@click="getMore") Get More
  script(src="/js/index.js")
